*{
         margin: 0px;
         padding: 0px;
         box-sizing: border-box;

}
body{
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
         width: 375px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 3rem auto 2rem;
         text-align: center;
         background-color: beige;
         border-radius: 20px;
         padding: 1rem 1rem 1.5rem;
}
.container img{
         width: 100%;
         border-radius: 15px;

}
.container h2{
         font-weight: 600;
         padding: 1rem;
}
.container p{
         font-weight: 400;
         margin: 0 22px;
}